@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@100 & display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #195d36;
    --cor5: #e0c31e;
    --cor6: white;
    --cor7: #1cb9c8;
    --cor8: black;
    --cor9: #63b1b8;
    --cor10: #70bcc3;
    --cinza11:#dedede;
    --cor12:#2f7076;

    --fonte-padrao:  Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaue: 'Bebas Nue', cursive;
    --fonte-android: 'Android', cursive; 
}

* {
  margin: 0px;
  padding: 0px;
}

html, body {
  width: 100%;
  overflow-x: hidden;   
}

body {
    background-color: var(--cor6);
    font-family: var(--fonte-padrao);
}

.logo {
  margin-left: 40px;
  margin-bottom: 10px;
}


/* Navigation links */

.navbar {
    overflow: hidden;
    background-color: var(--cor9);
    width: 100%;
    padding: 8px;
    margin: 1px;
    margin-bottom: 10px;
    border-radius: 1px 0px;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    font-weight: bold;
    color: var(--cor8);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    font-weight: bold;
    border: none;
    outline: none;
    color: var(--cor8);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
 
  .navbar a:hover, .dropdown:hover{
    background-color:var(--cor10);
  } 
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--cor9);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: var(--cor8);
    font-weight: bold;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: var(--cor10);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }



/* Navigation links */


/* main {
    min-width: 300px;
    max-width: 1000px;
    margin: 10px;
    padding: 30px;
    background-color: var(--cor3);
    background-position: center;      
} */

/* Carrosel */

.slider {
  margin: 0 auto;
  width: 800px;
  height: 400px;
  overflow: hidden;
  margin-top: 30px;
}

.carrosel {
  width: 400%;
  height: 400px;
  display: flex;
  position: sticky
}

.carrosel input {
  display: none;
  align-items: center;
  justify-content: center;
  position: static;
}

.slide {
  width: 25%;
  position: relative;
  transition: 1s;
}

.slide img {
  width: 700px;
}

.navigation-auto {
  position: absolute;
  width: 800px;
  margin-top: 360px;
  display: flex;
  justify-content: center;
}

.navigation-auto div {
  border: 2px solid #20a6ff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s; 
  display: inline-block;
}

.navigation-auto div:not(:last-child){
  margin-right: 20px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background-color: var(--cor3)
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
  background-color: var(--cor3)
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
  background-color: var(--cor3)
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
  background-color: var(--cor3)
}

.manual-navigation {
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
  position: sticky
}

.manual-btn {
  border: 2px solid var(--cor5);
  padding: 5px;
  border-radius: 90px;
  cursor: pointer;
  transition: 1s;
  
}

.manual-btn:not(:last-child){
  margin-right: 20px;
}

.manual-btn:hover{
  background-color: #fff;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -25%;
}

#radio3:checked ~ .first {
  margin-left: -50%;
}

#radio4:checked ~ .first {
  margin-left: -75%;
}


/* About */

.about {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 70px 1px;
}

.about-content {
  max-width: 1000px;
  min-width: 300px;
  height: 500px;
  background:var(--cinza11);
  margin: 0 auto;
  border-radius: 8px;
  z-index: 10;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.about-content {
  margin-top: 20px;
}

.left {
  width: 25%;
  min-width: 100px;
  height: 100%;
}

.left img {
  width: 340px;
  height: 100%;
  border-radius: 8px;
}

.right {
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 10%;
}
.right h3 {
  text-align: right;
  width: 90%;
  margin-bottom: 20px;  
}

.right p {
  max-width: 90%;
  font-size: 1em;
  letter-spacing: 1,5px;
  text-align: left;
  color: var(--blue);
}

/* features */

.features {
  width: 100%;
  height: 100%;
  /* background: var(); */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0px;
}

.title-wrapper-feature h3 {
  margin-top: -50px;
}

.feature-card-block {
 max-width: 1000px;
 min-width: 500px;
 height: 600px;
 margin: 0 auto;
 border-radius: 8px ;
 z-index: 10;
 padding: 50px;
 display: grid;
 grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
 grid-gap: 30px;
}

.feature-card-item {
  max-width: 420px;
  max-height: 140px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border: 3px solid var(--cinza11);
  border-radius: 4px;
}

.feature-text-content {
  max-width: 60%;
  margin: 5px;
}

.feature-card-item img {
width: 64px;
height: 64px;
}


/* fotter */

footer {
  width: 100%;
  height: 250px;
  margin-top: 50px;
}

footer .main {
  width: 100%;
  height: 210px;
  background: var(--cor9);
  padding: 20px 10px;
}


.footer-links {
  max-width: 1000px;
  min-width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
  margin-left: 200px;
}

.footer-company, .footer-rental, .footer-social, .footer-contact{
  color: var(--cor8);
  height: 100%;
  min-height: 100px; 
}

.footer-links h5 {
  color: var(--cor6);
}


.footer-links h3 {
  margin-bottom: 15px;
}

.footer-links {
  margin-bottom: 8px;
}

.main .footer-social img {
  width: 34px;
  height: 34px;
}

footer .last {
  width: 100%;
  height: 50px;
  background: var(--cor12);
  color: var(--cor6);
  display: flex;
  align-items: center;
  justify-content: center;
}
